<%- js("js/index.js") %>
<%- js("js/article.js") %>
<%- js('js/footer.js') %>
<%- js('js/sidebar.js') %>
<%- js('js/excerpt.js') %> 
<%- css('css/index.css') %>
<%- css('css/article.css') %>
<%- css('css/footer.css') %>
<%- css('css/sidebar.css') %>
<%- css('css/excerpt.css') %> 
<div class="sidebar"><%- partial('partial/sidebar') %></div>
<div class="index-grid">
    <div id="website-info">
        <div id="site-strings" style="display:none"><%- config.ezread.description %></div>
        <span id="site-tittle"><%- config.title %></span>
        <span id="site-description"></span>
    </div>
    <div id="articles">
        <div></div>
        <div id="article-list">
            <% page.posts.each(function(post){ %>
                <% if(!post.excerpt) { %>
                <%- partial('partial/excerpt', {excerpt: post.content, tittle: post.title, url: post.path}) %>
                <% } else { %>
                <%- partial('partial/excerpt', {excerpt: post.excerpt, tittle: post.title, url: post.path}) %>
                <% } %>
            <%}) %>
        </div>
    </div>
    <%- partial('partial/footer') %>
</div>