<div id='post'>
    <%- css('css/post.css') %>
    <%- css('css/header.css') %>
    <%- css('css/footer.css') %>
    <%- css('css/article.css') %>
    <%- js('js/article.js') %>
    <%- js('js/post.js') %>
    <%- js('js/header.js') %>
    <%- js('js/footer.js') %>

    <%- partial('partial/header') %>
    <span id='btn-content'>&#8678;</span>
    <div id="post-content"></div>
    <div id="post-grid">
        <div></div>
        <div id="post-text">
            <h1 class='tittle'>
                <% if(page.title) { %>
                <%- page.title %>
                <% } else { %>
                <%- config.title %>
                <% } %>
            </h1>
            <%- partial('partial/article', {text: page.content}) %>
        </div>
        <div></div>
    </div>
    <%- partial('partial/footer') %> 
</div>