<div id='post'>
    <%- css('css/post.css') %>
    <%- css('css/sidebar.css') %>
    <%- css('css/footer.css') %>
    <%- css('css/article.css') %>
    <%- css('css/btn-to-top.css')%> 
    <%- js('js/article.js') %>
    <%- js('js/post.js') %>
    <%- js('js/sidebar.js') %>
    <%- js('js/footer.js') %>
    <%- js('js/btn-to-top.js') %> 

    <div class="post-btns">
        <div class="sidebar"><%- partial('partial/sidebar.ejs') %></div>
        <div class="btn-toc">⇦</div>
    </div>
    <div class="div-toc">
            <%- toc(page.content, {class: "toc", list_number:false}) %>
    </div>
    <div class="post-foot-grid">
        <div class="post-grid">
            <div class="padding"></div>
            <div class="text">
                <div><h1 class='tittle'>
                    <% if(page.title) { %>
                    <%- page.title %>
                    <% } else { %>
                    <%- config.title %>
                    <% } %>
                </h1></div>
                <div><%- list_tags(page.tags, {show_count:0}) %></div>
                <%- partial('partial/article', {text: page.content}) %>
            </div>
        </div>
        <div class="foot"><%- partial('partial/footer') %> </div>
    </div>
    <div class="btn-to-top"><%- partial('partial/btn-to-top') %></div>
</div>

